<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- cdn devlop VUE  -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- fontawesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- my CSS -->
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>
<body>
    <div id="root">
        
        <div class="addArea">
            <input v-model="newItem" @keyup.enter="addItem" type="text" placeholder="add an item">
            <button @click="addItem" >Add</button>
        </div>
        <ul v-if="toDoList.length > 0">
            <li v-for="(toDo, index) in toDoList">
                <i @click="removeItem(index)" class="fas fa-times"></i>    
                <p @click="modifyKey(toDo, index)" :class="{ done : toDo.completed }">{{toDo.text}}</p>
            </li>
        </ul>
        <h2 v-else>lista vuota</h2>
    </div>
    <!-- my script -->
    <script src="./js/script.js"></script>
</body>
</html>